@import 'colores';
@import 'fonts';

* {
    margin: 0;
    padding: 0;
    font-family: $font-principal;
    font-size: 16px;
}


.geeks {
    overflow: hidden;
    margin: 0 auto;
    transition: 1.5s all ease-in-out;
    &:hover {
        transform: scale(1.1);
        filter: brightness(50%);
    }
}
  
.texto-borde {
    -webkit-text-stroke: 2px black;
    color: transparent; 
}

.texto-medio {
    font-size: 30px;
    font-weight: bold;
}

.texto-bajo {
    margin-bottom: 2rem;
}

.carousel-item {
    height: 120vh;
}

footer  {
    background-color: rgb(183, 183, 183);
}

.imagebox {
    position: relative;
    text-align: center;
    & .imagebox-desc {
        bottom: 40%;
        font-size: 50px;
        position: absolute;
        width: 100%;
        -webkit-text-stroke: 1px white;
        color: transparent;
        font-family: $font-img-box;
    }
}

.bg-footer {
    background-color: $colorBG;
}

.bg-footer-2 {
    background-color: $colorBG2;
}