* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}


.geeks {
    overflow: hidden;
    margin: 0 auto;
    transition: 1.5s all ease-in-out;
}
  
.geeks:hover {
    transform: scale(1.1);
    filter: brightness(50%);
}

.texto-borde {
    -webkit-text-stroke: 2px black;
    color: transparent; 
}

.texto-medio {
    font-size: 30px;
    font-weight: bold;
}

.texto-bajo {
    margin-bottom: 2rem;
}

.pedidos-ya {
    margin-top: 2rem;
}

.carousel-item {
    height: 100vh;
}
